<div class="row"></div>
<div *ngIf="!loading && !showTitle && !showTitlePreview" id="title-bar" class="row title-bar" (mouseover)="showTitleNavPreview()"></div>
<div *ngIf="!loading && !showTitle && !showTitlePreview" class="show-title" (click)="showTitleNav()">
  Show title <i class="fas fa-chevron-down"></i>
</div>
<div class="row top-nav" id="title" *ngIf="!loading && (showTitle || showTitlePreview)" (mouseleave)="hideTitlePreview()">
  <div class="col collapse-title-float">
    <div *ngIf="showTitle" class="collapse-title" (click)="hideTitle()">
      Hide title <i class="fas fa-chevron-up"></i>
    </div>
    <div *ngIf="!showTitle && showTitlePreview" class="collapse-title" (click)="showTitleNav()">
      Show title <i class="fas fa-chevron-down"></i>
    </div>
  </div>
  <h1 class="col col-7 game-name">{{game.gameName}}</h1>
  <div class="col select-game-float">
    <div class="btn btn-dark select-game" routerLink="/">Select Game <i class="fas fa-volleyball-ball"></i></div>
  </div>
</div>
<div *ngIf="!loading && !game.gameFinished" class="row scores line-height-100">
  <div class="col red">
    {{game.redScore || 0}}
  </div>
  <div class="col blue">
    {{game.blueScore || 0}}
  </div>
</div>
<div *ngIf="!loading && game.gameFinished" class="row scores">
  <div class="col {{game.redScore > game.blueScore? 'red' : 'blue'}} final-score-view">
    <div class="winner">{{game.redScore > game.blueScore? "Red" : "Blue"}} Wins!</div>
    <div class="final-score"><span class="red-text">{{game.redScore}}</span> <span class="black-text">-</span> <span class="blue-text">{{game.blueScore}}</span></div>
  </div>
</div>
<div class="row"></div>
