
.select-game {
  margin: 30px auto;
  width: 80%;
  text-align: center;
}

.title {
  margin-bottom: 30px;
}

.margin-bottom {
  margin-bottom: 30px;
}

#auto-update, #auto-update-label {
  vertical-align: middle;
  line-height: 30px;
  margin: auto;
}
